/data/raw/studentRegistration.csv
/data/raw/studentVle.csv
/data/raw/Submission_reg.csv
/data/raw/Test_Who.csv
/data/raw/Train_Target_reg.csv
/data/raw/Train_Who.csv
/data/raw/vle.csv
/data/raw/assessments.csv
/data/raw/courses.csv
/data/raw/studentAssessment.csv
/data/raw/studentInfo.csv